
<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
        <i class="fa fa-flask"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->

    <!-- /emails -->

    <li ui-sref-active='active' ui-sref='app.main'>
      <a href="" target="_blank">
        <i class="fa fa-file-text-o"></i>
        <span>Syllabus Creator</span>
      </a>
    </li>

    <!-- Settings -->
    <li ui-sref-active="active">
      <a href="" target="_blank">
        <span class="label label-info pull-right">Opt - In/Out</span>
        <i class="fa fa-sliders"></i>
        <span>Settings</span>
      </a>
    </li>
    <!-- /Settings -->




  </ul>
</nav>
<!-- /main navigation -->
